/**
 * @file
 * Styling for HFCC Website Front Page.
 */

/** Hero Image **/

/** Views **/

.random-photo-block {
  margin: 0 auto;
  max-width: 534px;
}

.random-photo-block img {
  display: block;
  margin: 0;
}

.random-photo-block .caption {
  background: #693;
  color: #eee;
  font-size: 1.1em;
  padding: 4px 6px;
}

.front-body-wrapper {
  padding-top: 1.4em;
}

/* Announcements */

.front-news-wrapper,
.front-announcement-wrapper {
  border-bottom: 1px solid #ccc;
  padding-bottom: 1.2em;
}

.front-announcement-wrapper,
.front-news-wrapper,
.front .events-list {
  margin-bottom: 1.2em;
}

.view-announcements a {
  font-size: 1.1em;
  font-weight: bold;
}

.view-announcements ul li {
  list-style-image: url(../images/monotone_arrow_right.png);
  margin: 0 0 1.5em 0;
}

/* Events */

.front .events-list ul li {
  list-style-type: none;
  margin: 0.12em 0 1em;
  min-height: 57px;
}

.front .event-date-wrapper {
  border-radius: 3px;
  box-shadow: 0 0 10px -4px #666;
  float: left;
  font-weight: bold;
  margin-right: 1em;
  text-align: center;
}

.front .event-month {
  background-color: #0054A6;
  border-radius: 5px 5px 0 0;
  color: #fff;
  padding: 3px 1em;
}

.front .event-day {
  font-size: 1.4em;
}

/* College News Section */

.front a:hover {
  text-decoration: none;
}

.front-news-wrapper article {
  float: left;
  padding: 0;
  width: 100%;
}

.front-news-wrapper img {
  display: none;
}

.article-title {
  font-weight: bold;
  line-height: 1.44em;
  margin: 0.5em 0;
}

@media only screen and (min-width: 768px) {

  .front-calendar-wrapper {
    float: right;
    width: 37%;
  }

  .front-news-wrapper {
    border-bottom: 0px;
    padding-bottom: 0;
    float: left;
    width: 62%;
  }

  .front-news-wrapper img {
    display: block;
    background-color: #FFF;
    box-shadow: 1px 1px 2px #aaa;
    margin: 0;
    padding: 4px;
  }

  .front-news-wrapper article {
    min-height: 260px;
    padding: 0 25px 0 0;
    width: 50%;
  }

  .article-title {
    padding: 0.5em 0;
  }

  .front .more-news {
    text-align: center;
  }

  .front .more-news a {
    display: inline-block;
    background: #0054A6;
    font-size: 1em;
    color: #fff;
    font-weight: bold;
    text-align: center;
    border-bottom: none;
    padding: 10px 15px;
    line-height: 1.25em;
    border-radius: 3px;
    -webkit-transition: background-color 0.3s ease-out;
    -moz-transition: background-color 0.3s ease-out;
    -ms-transition: background-color 0.3s ease-out;
    -o-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
  }

  .front .more-news a:hover {
    background-color: #1965AF;
  }

}

@media only screen and (min-width: 960px) {

  .front-news-wrapper article {
    width: 33.33%;
  }

}
