/**
 * @file
 * Primary styles for hfcmain subtheme.
 */

/* Tuition Compare */

#block-views-tuition-compare-block {
  background-color: #c8dbb5;
  /*border: 2px solid #693;*/
  border-radius: 5px;
  font-size: 1rem;
  text-align: center;
}

#block-views-tuition-compare-block > .content {
  padding: 0 0.25em 0.25em 0.25em;
}

#block-views-tuition-compare-block > h2 {
  background-color: #060;
  border-radius: 5px 5px 0 0;
  color: #fff;
  text-align: center;
}

#block-views-tuition-compare-block select {
  font-size: 0.9em;
  max-width: 95%;
}

.field-name-field-tuition,
.field-name-mysite-hfcc-base-tuition,
.field-name-mysite-savings-tuition {
  background-color: #c8dbb5;
  border: solid 1px #693;
  border-radius: 5px;
  box-shadow: 3px 2px 3px;
  display: inline-block;
  margin: 0 0.51216389244558% 1.5em 0.51216389244558%;
  min-height: 9em;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.field-name-field-tuition .field-label,
.field-name-mysite-hfcc-base-tuition .field-label,
.field-name-mysite-savings-tuition .field-label {
  font-size: 1.3em;
}

.field-name-field-tuition .field-item,
.field-name-mysite-hfcc-base-tuition .field-items,
.field-name-mysite-savings-tuition .field-items {
  color: #395918;
  font-size: 2.2em;
  font-weight: bold;
}

/* New 7 Steps Navigation */

#block-menu-menu-7-steps-sidebar-menu.block-menu {
  background-color: #F7F7F7;
}

#block-menu-menu-7-steps-sidebar-menu ul.menu li a{
  border-left: 1px solid #CCC !important;
  border-bottom: 7px solid #0054a6;
}

#block-menu-menu-7-steps-sidebar-menu ul.menu li a {
  color: #262729;
  display: block;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#block-menu-menu-7-steps-sidebar-menu ul.menu li a.active {
  background-color: #FFF;
}

#block-menu-menu-7-steps-sidebar-menu ul.menu li a:hover,
#block-menu-menu-7-steps-sidebar-menu ul.menu li a:focus {
  background-color: transparent;
}

/* Individual Steps Colors */

#block-menu-menu-7-steps-sidebar-menu ul.menu li:nth-child(1) a {
  border-color: #0054a6;
}

#block-menu-menu-7-steps-sidebar-menu ul.menu li:nth-child(2) a{
  border-color: #f8b433;
}

#block-menu-menu-7-steps-sidebar-menu ul.menu li:nth-child(3) a{
  border-color: #ed4a36;
}

#block-menu-menu-7-steps-sidebar-menu ul.menu li:nth-child(4) a{
  border-color: #76797c;
}

#block-menu-menu-7-steps-sidebar-menu ul.menu li:nth-child(5) a{
  border-color: #7a9d3e;
}

#block-menu-menu-7-steps-sidebar-menu ul.menu li:nth-child(6) a{
  border-color: #11b0aa;
}

#block-menu-menu-7-steps-sidebar-menu ul.menu li:nth-child(7) a{
  border-color: #683065;
}

/* Icon Footer (MCCA Block, HLC, Global Text) (mobile) */

#block-bean-mcca-youve-got-this img {
  width: 270px;
}

#block-bean-hlc-affliation img {
  width: 125px;
}

#block-views-header-image-path-block-2 {
  display: none;
}

/* Front Billboard Images */


.view-photo-gallery {
  background-color: #ececec;
  display: block;
}

.view-photo-gallery img {
  margin: 0;
  width: 100%;
}

.view-photo-gallery a:nth-child(1) {
  display: none;
}

.view-photo-gallery a:nth-child(2) {
  display: block;
}

.view-photo-gallery .lead a {
  display: block;
}

.view-photo-gallery .description {
  padding: 1.1em 1em;
}

.view-photo-gallery .lead {
  color: #0054A6;
  display: inline-block;
  font-size: 1.6em;
  font-weight: bold;
}

.view-photo-gallery p {
  display: inline;
}

/* Front Page Sections */

.front .region-content .block {
  border-top: 7px solid #002D5B;
}

.front .region-content .block:first-child {
  border-top: none;
}

.front #news-events .highlight-header > .region-news {
  max-width: 100%;
  padding: 0;
}

#news-events #block-hfccbane-news1 > .content {
  width: 400px;
  max-width: 100%;
  margin: 0 auto;
}

/* Future Students Page Sections */

.node-type-marketing-landing-page .view-featured-topics ul {
  list-style-type: none;
  margin: 0;
}

.node-type-marketing-landing-page .view-featured-topics.view-display-id-block_1 ul li:nth-child(odd) {
  background-color: #dedede;
  background-image: url('../images/background-blue-1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.node-type-marketing-landing-page .view-featured-topics.view-display-id-block_1 ul li:nth-child(3) {
  background-image: url('../images/background-blue-2.jpg');
}

.node-type-marketing-landing-page .view-featured-topics.news-list li .hfc-overlay {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
  padding: 1em;
  width: 100%;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

/* News and Events */

.event-box .event-date {
  background: #006FBA;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.event-box .event-title a {
  margin: 0 0 1em 0;
}

.event-box .event-title a {
  display: block;
  width: 100%;
  border: 2px solid #dedede;
  border-top: none;
}

.event-box .event-title a:focus,
.event-box .event-title a:hover {
  border: 2px solid #006FBA;
  border-top: none;
}

/* News and Events main page */

.news-grid {
  padding: 1em 0 0 0;
  max-width: 1000px;
  margin: 0 auto;
}

.news-grid .views-field-field-news-photo img {
  margin-bottom: 1em;
}

.news-grid .grid-item-wrapper {
  padding: 1em;
}

/* Calendar Views */

.calendar-calendar th.days {
  background-color: #fff;
}

.calendar-calendar tr {
  border: none !important;
}

.calendar-calendar tr:hover {
  background-color: transparent;
  border-bottom: none !important;
}

.calendar-calendar .month-view .full td.date-box.today,
.calendar-calendar .month-view .full tr td.today,
.calendar-calendar .month-view .full tr td.multi-day.ends-today,
.calendar-calendar .month-view .full tr td.multi-day.starts-today {
  background-color: #FFEEC4;
  border-top: none;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: none;
}

.calendar-calendar .month-view .full tr td.single-day.today {
  background-color: #FFEEC4;
  border-top: none;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.calendar-calendar td {
  border-top: none;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.calendar-calendar .month-view .full td.single-day div.monthview,
.calendar-calendar .week-view .full td.single-day div.weekview,
.calendar-calendar .day-view .full td.single-day div.dayview,
.calendar-calendar .month-view .full td.multi-day div.monthview,
.calendar-calendar .week-view .full td.multi-day div.weekview,
.calendar-calendar .day-view .full td.multi-day div.dayview {
  border-radius: 0;
  background-color: #D7ECF4;
  border: 1px solid #C1E6F4;
  margin: 0.25em auto;
}

.calendar-calendar .month-view .full td,
.calendar-calendar .week-view .full td, .calendar-calendar .day-view  td {
  padding: 0;
}

.calendar-calendar .month-view .full td.multi-day .inner .monthview .cutoff,
.calendar-calendar .week-view .full td.multi-day .inner .weekview .cutoff {
  border-radius: 0;
  background: transparent;
}

.calendar-calendar td .inner div.day a {
  color: #222;
}

.calendar-calendar .month-view .full td.multi-day  .inner .monthview .continuation,
.calendar-calendar .week-view .full td.multi-day  .inner .weekview .continuation {
  color: #222;
}

.calendar-calendar .month-view .full td.multi-day .inner .monthview .continues,
.calendar-calendar .week-view .full td.multi-day .inner .weekview .continues {
  color: #222;
  right: 2px !important;
  background: transparent;
  border-radius: 0;
}

.view .date-nav-wrapper .date-prev {
  position: absolute;
  right: auto;
  left: 0;
  margin-left: 0;
}

.view .date-nav-wrapper .date-prev a,
.view .date-nav-wrapper .date-next a {
  margin: 0 10px;
  border-bottom: none;
}

@media only screen and (min-width: 800px) {

  .top-story .views-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: stretch;
    align-items: stretch;
  }

  .top-story .views-row .views-field {
    flex: 0 1 auto;
  }

  .top-story .views-row .views-field-body {
    flex: 0 2 100%;
  }

  .top-story img {
    padding: 0 1em 0 0;
    max-height: 340px;
  }

  .news-grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: stretch;
    align-items: stretch;
  }

  .news-grid .view-content {
    flex: 0 1 70%;
  }

  .news-grid .view-content > ul {
    padding: 0 1em 0 0;
    margin-left: -1em;
  }

  .news-grid .view-footer {
    flex: 0 1 30%;
  }

}

/* checkboxes */

.bef-checkboxes .form-item {
  display: inline-block;
  margin-left: 1.5em;
}

.bef-checkboxes .form-item:first-child {
  margin-left: 0;
}

/* Programs Grid */

.view-programs .highlight-title {
  display: inline-block;
  padding: 0 1em;
}

.view-meta-major ul.views-view-grid {
  -webkit-justify-content: center;
  justify-content: center;
}

.view-meta-major ul.views-view-grid li {
  overflow: hidden;
}

.view-meta-major li:nth-child(1) .grid-item-wrapper div {
  background: #262729;
}

.view-meta-major li:nth-child(2) .grid-item-wrapper div {
  background: #006FBA;
}

.view-meta-major li:nth-child(3) .grid-item-wrapper div {
  background: #002D5B;
}

.view-meta-major li:nth-child(4) .grid-item-wrapper div {
  background: #0054A6;
}

.view-meta-major li:nth-child(5) .grid-item-wrapper div {
  background: #262729;
}

.view-meta-major li:nth-child(6) .grid-item-wrapper div {
  background: #006FBA;
}

.view-meta-major li:nth-child(7) .grid-item-wrapper div {
  background: #002D5B;
}

.view-meta-major li:nth-child(8) .grid-item-wrapper div {
  background: #0054A6;
}

.view-meta-major li:nth-child(9) .grid-item-wrapper div {
  background: #262729;
}

.view-meta-major li:nth-child(10) .grid-item-wrapper div {
  background: #006FBA;
}

.view-meta-major .highlight-title {
  background: #262729;
  padding: 0.5em 0;
  color: #fff;
  text-align: center;
  min-height: 3.5em;
}

.view-meta-major .highlight-wrap {
  padding: 0;
}

.view-meta-major .highlight-wrap {
  padding: 0 5%;
}

.view-meta-major .hfc-overlay {
  background: #262729;
  position: absolute;
    bottom: auto;
    left: auto;
    right: auto;
    top: 999px;
  transition: all .5s ease;
  -o-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease;
}

.view-meta-major li:hover .hfc-overlay,
.view-meta-major li:focus .hfc-overlay {
  background: #262729;
  position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.view-meta-major .hfc-overlay .highlight-title {
  min-height: 0;
  padding: 0;
}

/* Metamajor landing pages */

.page-meta-major #intro-contact-wrap {
  max-width: 100%;
  padding: 0;
}

.page-meta-major #intro-contact-wrap img {
  max-width: 150px;
  margin: 0 auto;
  display: block;
}


/* Program Page Body */

.node-type-program #content-inner h2:before {
  background-color: #0054A6;
  content: "";
  display: block;
  height: 7px;
  margin: 1em 0;
  width: 100px;
}

.node-type-program #content-inner h2.highlight-title {
  margin: 0;
}

.node-type-program #content-inner h2.highlight-title:before {
  display: none;
}

.node-type-program #block-views-program-cta-block {
  text-align: center;
}

.node-type-program #block-views-program-cta-block .hfc-button {
  padding: 0.5em 1em;
  margin: 0.5em;
  font-size: 1.2em;
}

.node-type-program #block-views-program-cta-block .hfc-button:nth-child(1) {
  background-color: #262729;
}

.node-type-program #block-views-program-cta-block .hfc-button:nth-child(1):hover {
  background-color: #FFF;
  border: 2px solid #262729 !important;
  color: #262729 !important;
}

.node-type-program #block-views-program-cta-block .hfc-button:nth-child(2) {
  background-color: #575759;
}

.node-type-program #block-views-program-cta-block .hfc-button:nth-child(2):hover {
  background-color: #FFF;
  border: 2px solid #575759 !important;
  color: #575759 !important;
}

.node-type-program .bottom-margin,
.node-type-program #content-inner .field-name-body {
  margin-bottom: 3em;
}

.node-type-program #content-inner .field-name-body,
.node-type-program #content-inner .field-name-field-callout {
  max-width: 100%;
}

/* Programs Video */

#block-views-program-video-header-block {
  margin-bottom: 3em;
}

/* Testimonials */

.testimonials ul.views-view-grid {
  -webkit-justify-content: center;
  justify-content: center;
}

.testimonials .grid-item-wrapper {
  padding: 0 1em;
}

.testimonials .wrap .testimonial-person {
  overflow: auto;
  padding: 1.5em 0.75em;
}

.testimonials .wrap .testimonial-title {
  overflow: auto;
}

.testimonials .wrap .testimonial-person .testimonial-photo {
  float: left;
  padding: 0 0.25em 0 0;
}

.testimonials .wrap .testimonial-person .testimonial-photo img {
  border-radius: 50%;
  max-width: 75px;
}

.testimonials .wrap .quote {
  background-image: url(/sites/all/themes/futuredriven/images/quote.png);
  background-position: top left;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0.75em;
}

.testimonials .wrap .testimonial-person p {
  margin: 0;
}

/* Program Outcomes */

#block-views-degree-outcomes-block {
  margin: 1.5em;
}

#block-views-degree-outcomes-block h3 {
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
}

#block-views-degree-outcomes-block .view-content ul {
  border: 1px solid #262729;
  list-style-type: none;
  margin: 0;
  padding: 2em;
}

#block-views-degree-outcomes-block .view-content ul li {
  background-color: #002D5B;
  color: white;
  font-family: Montserrat;
  margin-bottom: 0.75em;
  padding: 0.75em 1em;
  text-align: center;
  width: 100%;
}

#block-views-degree-outcomes-block .view-content ul li:last-child {
  margin-bottom: 0;
}

/* Featured Courses */

#block-views-courses-block-2 .view-content ul {
  background-color: #002D5B;
  color: white;
  font-family: Montserrat;
  padding: 3em 0;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

#block-views-courses-block-2 .view-content ul li {
  border-right: 1px solid white;
}


#block-views-courses-block-2 .view-content ul li > div {
  margin: 0.75em 2em;
  height: 200px;
}

#block-views-courses-block-2 .hfc-overlay {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

#block-views-courses-block-2 .view-content ul li:last-child > div {
  border-right: none;
}

#block-views-courses-block-2 .hfc-overlay a {
  width: 100%;
}

@media only screen and (min-width: 480px) {

  .field-name-field-tuition,
  .field-name-mysite-hfcc-base-tuition,
  .field-name-mysite-savings-tuition {
    width: 32%;
  }

}

@media only screen and (min-width: 687px) {

  #block-bean-mcca-youve-got-this img {
    width: 362px;
  }

}

@media only screen and (min-width: 770px) {

  #news-events #block-hfccbane-news1 > .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: stretch;
    align-items: stretch;
    margin: 0 -0.5em;
    position: relative;
    width: 100%;
  }

  #news-events .hfccbane-news {
    -webkit-box-flex: 1 1 45%;
    -moz-box-flex:  1 1 45%;
    -webkit-flex:  1 1 45%;
    -ms-flex:  1 1 45%;
    flex: 1 1 45%;
    margin: 1em;
  }

  .view-photo-gallery a:nth-child(1) {
    display: block;
  }

  .view-photo-gallery a:nth-child(2) {
    display: none;
  }

  #news-events ul.upcoming-events-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    width: 100%;
  }

  #news-events ul.upcoming-events-list li.event-item {
    border-bottom: none;
    border-right: 2px solid #CCC;
    display: block;
    webkit-box-flex: 0 1 25%;
    -moz-box-flex: 0 1 25%;
    -webkit-flex: 0 1 25%;
    -ms-flex: 0 1 25%;
    flex: 0 1 25%;
    margin: 2em 0;
    min-height: 0;
    overflow: auto;
    padding: 0 2em;
    text-align: center;
  }

  #news-events ul.upcoming-events-list li:last-child {
    border-right: none;
  }

  #news-events ul.upcoming-events-list li.event-item .event-date {
    display: block;
    margin: 0 0 1.5em 0;
    width: auto;
  }

  .node-type-marketing-landing-page .view-featured-topics.news-list .views-view-grid {
    margin: 0 -1em;
  }

  .node-type-marketing-landing-page .view-featured-topics.news-list li {
    flex: 1 0 30%;
    margin: 1em;
  }

  #block-views-degree-outcomes-block {
    float: right;
    margin: 3em 0 1.5em 2em;
    width: 350px;
  }

}

@media only screen and (min-width: 1024px) {

  #section-footer {
    text-align: left;
  }

  #block-bean-hlc-affliation, #block-bean-mcca-youve-got-this {
    float: left;
    padding-right: 30px;
  }

  #block-bean-mcca-youve-got-this {
    float: left;
  }

  #block-bean-mcca-youve-got-this img {
    width: 350px;
  }
}
