/**
 * @file
 * Primary styles for hfcmain subtheme.
 */

/* Highlight region */

#highlighted .region-highlighted {
  max-width: 100%;
  padding: 0;
}

#highlighted {
  padding: 0;
  border-bottom: none;
  background-color: transparent;
}

/* Yellow box alert messages */

.block-yayb {
  overflow: auto;
}

.block-yayb a,
.block-yayb a:link,
.block-yayb a:visited {
  color: inherit;
  border-bottom: 2px solid #262729;
}

.block-yayb a:hover,
.block-yayb a:focus {
  color: #fff;
  background-color: #262729;
}

.block-yayb.yayb-critical a,
.block-yayb.yayb-critical a:link,
.block-yayb.yayb-critical a:visited {
  border-bottom: 2px solid #fff;
}

.yayb-critical a:hover,
.yayb-critical a:focus {
  color: #b40000;
  background-color: #fff;
}

.block-yayb > div {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em;
}

.yayb-major > div,
.yayb-critical > div {
  margin: 1em auto;
}

/* Tuition Compare */

#block-views-tuition-compare-block {
  text-align: center;
  border-radius: 5px;
  background-color: #dfdede;
  font-size: 1rem;
}

#block-views-tuition-compare-block > .content {
  padding: 0 0.25em 0.25em 0.25em;
}

#block-views-tuition-compare-block > h2 {
  text-align: center;
  color: #fff;
  border-radius: 5px 5px 0 0;
  background-color: #135f84;
}

#block-views-tuition-compare-block form,
#block-ezpay-ezpay-block form,
#block-tuitioncalc-tuitioncalc form {
  width: auto;
}

#block-views-tuition-compare-block select {
  max-width: 95%;
  font-size: 0.9em;
}

.field-name-field-tuition,
.field-name-mysite-hfcc-base-tuition,
.field-name-mysite-savings-tuition {
  text-align: right;
}

.field-name-field-tuition .field-label,
.field-name-mysite-hfcc-base-tuition .field-label,
.field-name-mysite-savings-tuition .field-label {
  display: inline-block;
  border-bottom: 1px solid #ccc;
  font-size: 1.3em;
  line-height: 1.5em;
}

.field-name-field-tuition .field-item,
.field-name-mysite-hfcc-base-tuition .field-items,
.field-name-mysite-savings-tuition .field-items {
  font-size: 2.2em;
  font-weight: bold;
  line-height: 1.5em;
}

.field-name-mysite-savings-tuition .field-items {
  color: #135f84;
}

/* New 7 Steps Navigation */

#block-menu-menu-7-steps-sidebar-menu.block-menu {
  background-color: #f7f7f7;
}

#block-menu-menu-7-steps-sidebar-menu ul.menu li a {
  display: block;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: #262729;
  border-bottom: 7px solid #0054a6;
  border-left: 1px solid #ccc !important;
}

#block-menu-menu-7-steps-sidebar-menu ul.menu li a.active {
  background-color: #fff;
}

#block-menu-menu-7-steps-sidebar-menu ul.menu li a:hover,
#block-menu-menu-7-steps-sidebar-menu ul.menu li a:focus {
  background-color: transparent;
}

/* Individual Steps Colors */

#block-menu-menu-7-steps-sidebar-menu ul.menu li:nth-child(1) a {
  border-color: #0054a6;
}

#block-menu-menu-7-steps-sidebar-menu ul.menu li:nth-child(2) a {
  border-color: #f8b433;
}

#block-menu-menu-7-steps-sidebar-menu ul.menu li:nth-child(3) a {
  border-color: #ed4a36;
}

#block-menu-menu-7-steps-sidebar-menu ul.menu li:nth-child(4) a {
  border-color: #76797c;
}

#block-menu-menu-7-steps-sidebar-menu ul.menu li:nth-child(5) a {
  border-color: #7a9d3e;
}

#block-menu-menu-7-steps-sidebar-menu ul.menu li:nth-child(6) a {
  border-color: #11b0aa;
}

#block-menu-menu-7-steps-sidebar-menu ul.menu li:nth-child(7) a {
  border-color: #683065;
}

/* Front Page Sections */

/* Front Page Logo Adjustments */

.front #section-header {
  min-height: 150px;
}

.front #site-logo {
  padding: 0;
}

.front #site-logo a {
  width: 100px;
  height: 100px;
  background-image: url("../images/hfc-futuredriven-color.svg");
}
@media only screen and (min-width: 630px) {
  .front #site-logo a {
    position: absolute;
    top: 0;
    left: 0;
  }

  .front #section-top-header {
    padding-left: 100px;
  }
}
/* Major Breakpoints */
@media only screen and (min-width: 855px) {
  .front #section-top-header,
  #section-main-navigation {
    width: 1000px;
  }

  #section-top-header,
  #section-main-navigation {
    width: 1200px;
  }
}
@media only screen and (min-width: 1010px) {
  .front #site-logo a {
    width: 150px;
    height: 150px;
  }

  .front #section-main-navigation,
  .front #section-top-header {
    padding-left: 150px;
  }

  .front #section-main-navigation {
    padding-top: 0;
  }
}

/* Calendar Views */

.calendar-calendar th.days {
  background-color: #fff;
}

.calendar-calendar tr {
  border: none !important;
}

.calendar-calendar tr:hover {
  border-bottom: none !important;
  background-color: transparent;
}

.calendar-calendar .month-view .full td.date-box.today,
.calendar-calendar .month-view .full tr td.today,
.calendar-calendar .month-view .full tr td.multi-day.ends-today,
.calendar-calendar .month-view .full tr td.multi-day.starts-today {
  border-top: none;
  border-right: 1px solid #ccc;
  border-bottom: none;
  border-left: 1px solid #ccc;
  background-color: #ffeec4;
}

.calendar-calendar .month-view .full tr td.single-day.today {
  border-top: none;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  background-color: #ffeec4;
}

.calendar-calendar td {
  border-top: none;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

.calendar-calendar .month-view .full td.single-day div.monthview,
.calendar-calendar .week-view .full td.single-day div.weekview,
.calendar-calendar .day-view .full td.single-day div.dayview,
.calendar-calendar .month-view .full td.multi-day div.monthview,
.calendar-calendar .week-view .full td.multi-day div.weekview,
.calendar-calendar .day-view .full td.multi-day div.dayview {
  margin: 0.25em auto;
  border: 1px solid #c1e6f4;
  border-radius: 0;
  background-color: #d7ecf4;
}

.calendar-calendar .month-view .full td,
.calendar-calendar .week-view .full td,
.calendar-calendar .day-view td {
  padding: 0;
}

.calendar-calendar .month-view .full td.multi-day .inner .monthview .cutoff,
.calendar-calendar .week-view .full td.multi-day .inner .weekview .cutoff {
  border-radius: 0;
  background: transparent;
}

.calendar-calendar td .inner div.day a {
  color: #222;
}

.calendar-calendar .month-view .full td.multi-day .inner .monthview .continuation,
.calendar-calendar .week-view .full td.multi-day .inner .weekview .continuation {
  color: #222;
}

.calendar-calendar .month-view .full td.multi-day .inner .monthview .continues,
.calendar-calendar .week-view .full td.multi-day .inner .weekview .continues {
  right: 2px !important;
  color: #222;
  border-radius: 0;
  background: transparent;
}

.view .date-nav-wrapper .date-prev {
  position: absolute;
  right: auto;
  left: 0;
  margin-left: 0;
}

.view .date-nav-wrapper .date-prev a,
.view .date-nav-wrapper .date-next a {
  margin: 0 10px;
  border-bottom: none;
}

/* checkboxes */

.bef-checkboxes .form-item {
  display: inline-block;
  margin-left: 1.5em;
}

.bef-checkboxes .form-item:first-child {
  margin-left: 0;
}

/* Programs Grid */

.view-programs .highlight-title {
  display: inline-block;
  padding: 0 1em;
}

.view-meta-major ul.views-view-grid {
  -webkit-justify-content: center;
  justify-content: center;
}

.view-meta-major ul.views-view-grid li {
  overflow: hidden;
}

.view-meta-major li:nth-child(1) .grid-item-wrapper > div {
  background: #262729;
}

.view-meta-major li:nth-child(2) .grid-item-wrapper > div {
  background: #135f84;
}

.view-meta-major li:nth-child(3) .grid-item-wrapper > div {
  background: #002d5b;
}

.view-meta-major li:nth-child(4) .grid-item-wrapper > div {
  background: #0054a6;
}

.view-meta-major li:nth-child(5) .grid-item-wrapper > div {
  background: #262729;
}

.view-meta-major li:nth-child(6) .grid-item-wrapper > div {
  background: #135f84;
}

.view-meta-major li:nth-child(7) .grid-item-wrapper > div {
  background: #002d5b;
}

.view-meta-major li:nth-child(8) .grid-item-wrapper > div {
  background: #0054a6;
}

.view-meta-major li:nth-child(9) .grid-item-wrapper > div {
  background: #262729;
}

.view-meta-major li:nth-child(10) .grid-item-wrapper > div {
  background: #135f84;
}

.view-meta-major li:nth-child(11) .grid-item-wrapper > div {
  background: #002d5b;
}

.view-meta-major .highlight-title {
  min-height: 3.5em;
  padding: 0.5em 0;
  text-align: center;
  color: #fff;
  background: #262729;
}

.view-meta-major .highlight-wrap {
  padding: 0 5%;
}

.view-meta-major .hfc-overlay {
  position: absolute;
  top: 999px;
  right: auto;
  bottom: auto;
  left: auto;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #262729;
}

.view-meta-major li:hover .hfc-overlay,
.view-meta-major li:focus .hfc-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #262729;
}

.view-meta-major .hfc-overlay .highlight-title {
  min-height: 0;
  padding: 0;
}

/* Metamajor landing pages */

.page-meta-major #intro-contact-wrap {
  max-width: 100%;
  padding: 0;
}

.page-meta-major #intro-contact-wrap img {
  display: block;
  max-width: 150px;
  margin: 0 auto;
}

/* Program Page Body */

.node-type-program #content-inner h2:before {
  display: block;
  width: 100px;
  height: 7px;
  margin: 1em 0;
  content: "";
  background-color: #0054a6;
}

.node-type-program #content-inner h2.highlight-title {
  margin: 0;
}

.node-type-program #content-inner h2.highlight-title:before {
  display: none;
}

.node-type-program #block-views-program-cta-block {
  text-align: center;
}

.node-type-program #block-views-program-cta-block .hfc-button {
  margin: 0.5em;
  padding: 0.5em 1em;
  font-size: 1.2em;
}

.node-type-program #block-views-program-cta-block .hfc-button:nth-child(1) {
  background-color: #262729;
}

.node-type-program #block-views-program-cta-block .hfc-button:nth-child(1):hover {
  color: #262729 !important;
  border: 2px solid #262729 !important;
  background-color: #fff;
}

.node-type-program #block-views-program-cta-block .hfc-button:nth-child(2) {
  background-color: #575759;
}

.node-type-program #block-views-program-cta-block .hfc-button:nth-child(2):hover {
  color: #575759 !important;
  border: 2px solid #575759 !important;
  background-color: #fff;
}

.node-type-program .bottom-margin,
.node-type-program #content-inner .field-name-body {
  margin-bottom: 3em;
}

.node-type-program #content-inner .field-name-body,
.node-type-program #content-inner .field-name-field-callout {
  max-width: 100%;
}

/* Programs Video */

#block-views-program-video-header-block {
  margin-bottom: 3em;
}

/* Testimonials */

.testimonials ul.views-view-grid {
  -webkit-justify-content: center;
  justify-content: center;
}

.testimonials .grid-item-wrapper {
  padding: 0 1em;
}

.testimonials .wrap .testimonial-person {
  overflow: auto;
  padding: 1.5em 0.75em;
}

.testimonials .wrap .testimonial-title {
  overflow: auto;
}

.testimonials .wrap .testimonial-person .testimonial-photo {
  float: left;
  padding: 0 0.25em 0 0;
}

.testimonials .wrap .testimonial-person .testimonial-photo img {
  max-width: 75px;
  border-radius: 50%;
}

.testimonials .wrap .quote {
  margin: 0;
  padding: 0.75em;
  background-image: url("/sites/all/themes/futuredriven/images/quote.png");
  background-repeat: no-repeat;
  background-position: top left;
}

.testimonials .wrap .testimonial-person p {
  margin: 0;
}

/* Program Outcomes */

#block-views-degree-outcomes-block {
  margin: 1.5em;
}

#block-views-degree-outcomes-block .view-degree-outcomes {
  z-index: 99;
}

#block-views-degree-outcomes-block h3 {
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
}

#block-views-degree-outcomes-block .view-content ul {
  margin: 0;
  padding: 2em;
  list-style-type: none;
  border: 1px solid #262729;
}

#block-views-degree-outcomes-block .view-content ul li {
  width: 100%;
  margin-bottom: 0.75em;
  padding: 0.75em 1em;
  text-align: center;
  color: #fff;
  background-color: #002d5b;
  font-family: Montserrat;
}

#block-views-degree-outcomes-block .view-content ul li:last-child {
  margin-bottom: 0;
}

/* Featured Courses */

#block-views-courses-block-2 .view-content ul {
  padding: 3em 0;
  text-align: center;
  color: #fff;
  background-color: #002d5b;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-family: Montserrat;
}

#block-views-courses-block-2 .view-content ul li > div {
  padding: 0.75em 2em;
  border-right: 1px solid #fff;
}

#block-views-courses-block-2 .view-content ul li:last-child > div {
  border-right: none;
}

#block-views-courses-block-2 .hfc-overlay {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#block-views-courses-block-2 .hfc-overlay a {
  width: 100%;
}

#block-views-courses-block-2 .hfc-overlay div {
  display: block;
}
@media only screen and (min-width: 770px) {
  #block-views-degree-outcomes-block {
    float: right;
    width: 350px;
    margin: 3em 0 1.5em 2em;
  }
}

/* Amazon Career Choice page */

.amazon-choice-program-list li {
  line-height: 1.7em;
}
.amazon-choice-program-list li > ul {
  margin-bottom: 0.75em;
}
