/**
 * @file
 * Styling for content and views specific to the HFC Newsroom.
 */

/* News full display template */

.node-news-full .field-name-field-news-photo img {
  width: 600px;
  max-width: 100%;
}

.node-news-full .news-photo-caption {
  margin: 0 0 1em;
  font-style: italic;
}

.article-cover-image {
  margin-bottom: 0.5em;
}

img.article-cover-image:hover,
img.article-cover-image:focus {
  opacity: 0.8;
}

.node-news-feature .field-name-field-video-embed {
  margin-right: 0.5em;
  margin-bottom: 1em;
}

/* News grid node template */

.front .entity.entity-paragraphs-item.paragraphs-item-block-reference.highlight-header-wide {
  background: #eee;
}

.news-cards-grid ul.cols-4 li {
  position: relative;
  justify-content: center;
  margin: 0.5em;
  background: #fff;
  box-shadow: 0 0 3px 0 #cdcdcd;
}

.news-cards-grid ul.views-view-grid li .grid-item-wrapper {
  margin: 0;
}

a.newsgrid-title-link:hover > img,
div.news-title-cutline:hover ~ a.feature-image-link > img,
a.newsgrid-title-link:focus > img,
div.news-title-cutline:focus ~ a.feature-image-link > img {
  opacity: 0.8;
}

.newsgrid-has-background-image > .content,
.newsgrid-no-background-image > .content {
  margin-top: 0.5em;
}

.newsgrid-has-background-image span.date-display-single {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 1em;
  padding: 0.2em;
  text-align: center;
  color: #fff;
  background: #135f84;
  font-size: 1.2em;
  font-weight: bold;
}

.newsgrid-hide-date span.date-display-single {
  display: none;
}

a.newsgrid-title-link > h3 {
  border-bottom: 2px solid transparent;
}

.news-cards-grid a.newsgrid-title-link > h3 {
  display: block;
  margin: 0.8em 0 0.5em 0;
  padding: 0 1em;
  color: #002d5b;
  font-size: 1.2em;
  font-weight: normal;
}

.news-cards-grid .newsgrid-has-background-image > .content,
.newsgrid-no-background-image > .content {
  margin-top: 0;
  padding: 0 1.2em;
}

.news-cards-grid .view-news-grid-for-all-pages .view-footer a.hfc-button {
  margin: 0 0 0.5em 0.5em;
}

a.newsgrid-title-link:hover > h3,
a.newsgrid-title-link:focus > h3,
.news-cards-grid a.newsgrid-title-link > h3:hover,
.news-cards-grid a.newsgrid-title-link > h3:focus,
a.feature-image-link:hover a.feature-title-link,
a.feature-image-link:focus a.feature-title-link {
  border-bottom: 2px solid #262729;
  background-color: #7fe5ff;
}

/* News feature */

.top-story .view-content {
  padding: 0 1em 0 0;
}

.top-story .view-content .node-news-feature {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.top-story img {
  max-height: 100%;
  margin-right: 1.5em;
}

.news-promoted-feature h3 {
  margin-top: 0;
  font-size: 1.4em;
}

.node-news-feature .feature-image-link {
  flex: 0 1 100%;
  max-width: 360px;
}

.news-promoted-feature a.feature-image-link {
  display: block;
  padding: 0.5em;
  color: #002d5b;
  border-bottom: none;
}

.news-promoted-feature a.feature-image-link:hover,
.news-promoted-feature a.feature-image-link:focus {
  background-color: transparent;
}

.news-promoted-feature a.feature-image-link:hover > img,
.news-promoted-feature a.feature-image-link:focus > img {
  opacity: 0.8;
}

.news-title-cutline {
  flex: 0 1 100%;
  width: 100%;
  max-width: 600px;
  padding: 1em;
  background: #fff;
}

.news-title-cutline > .content {
  padding: 0 1em;
}

.news-title-cutline h3 {
  font-size: 1.5em;
  font-weight: normal;
}

.news-title-cutline h3:after {
  display: block;
  margin-top: 0.3em;
  content: "";
  border-bottom: 1px solid #eee;
}

.news-title-cutline > h3 > a {
  color: #002d5b;
  border-bottom: 2px solid transparent;
}

.news-title-cutline > h3 > a:hover {
  border-bottom: 2px solid #262729;
}

.news-promoted-feature a.feature-title-link {
  color: #002d5b;
  border-bottom: 2px solid transparent;
}

.news-promoted-feature a.feature-title-link:hover,
.news-promoted-feature a.feature-title-link:focus {
  border-bottom: 2px solid #262729;
}

/* Events List */

.event-card {
  margin-bottom: 0.5em;
}

.event-card .event-date span {
  display: inline-block;
  padding: 0.25em 0.4em;
  text-align: left;
  color: #fff;
  background: #135f84;
}

.event-card .event-info {
  padding: 0 0 0.5em 0;
}

.event-card > a {
  display: block;
  height: 100%;
  color: #262729;
  border: 1px solid transparent;
  border-left: none;
}

.event-card .event-info h4 {
  margin: 0;
}

.event-card > a:focus,
.event-card > a:hover {
  border: 1px solid #135f84;
  border-left: none;
  background: transparent;
}

.event-photo-card {
  position: relative;
}

.event-photo-card .event-date {
  position: absolute;
  top: 0;
  left: 1em;
  width: 100px;
  padding: 0.2em;
  text-align: center;
  color: #fff;
  background: #135f84;
  font-size: 1.2em;
  font-weight: bold;
}

.event-card.important-event .event-date {
  position: relative;
}

.event-card.important-event .event-date::before {
  position: absolute;
  top: 25%;
  left: 0;
  display: block;
  width: 2em;
  height: 2em;
  margin: 0 0 0 -0.5em;
  padding: 0;
  content: "";
  background-image: url("https://main.devdws.hfcc/sites/all/themes/futuredriven18/images/calendariconteal.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.5em 1.5em;
}

.upcoming-events-list .event-card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-wrap: nowrap;
  -webkit-align-items: stretch;
  align-items: stretch;
}

.upcoming-events-list .event-card .event-date {
  min-width: 6.5em;
  margin-right: 1em;
  text-align: center;
  border-right: 4px solid #135f84;
  background: transparent;
}

.upcoming-events-list .event-card .event-date span {
  padding: 0;
  text-align: center;
  color: #135f84;
  background: transparent;
  font-weight: bold;
}

.upcoming-events-list .event-card .event-date .date-display-single .day {
  font-size: 2em;
}

.para-grid.mini-right .upcoming-events-list .event-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-wrap: nowrap;
  -webkit-align-items: stretch;
  align-items: stretch;
}

.para-grid.mini-right .upcoming-events-list .event-card .event-date {
  margin-right: 1em;
  text-align: center;
  border-right: 4px solid #135f84;
  background: transparent;
}

.upcoming-events-list .day {
  font-size: 1.5em;
}

.upcoming-events-list .today {
  font-size: 1.3em;
}

/* Events List Front Page */

.front .upcoming-events-list .view-content .event-card {
  flex: 0 1 20%;
  margin-bottom: 0.5em;
  background: #fff;
}

.front .upcoming-events-list .event-card .event-date {
  min-width: 6.5em;
  margin: 0;
}

.front .upcoming-events-list .view-content {
  justify-content: center;
  margin: auto;
}

.front .upcoming-events-list .event-card .event-info {
  width: 100%;
  padding: 1em;
  border: 1px solid #eee;
}

.node--news-video--newsgrid h3 {
  margin: 0.8em 0 0.5em 0;
}

.node--news-video--newsgrid h3 > a {
  display: block;
  margin: 0.8em 0 0.5em 0;
  padding: 0 1em;
  color: #002d5b;
  border-bottom: 2px solid transparent;
  font-weight: normal;
}

.node--news-video--newsgrid h3:hover > a,
.node--news-video--newsgrid h3:focus > a {
  border-bottom: 2px solid #262729;
  background-color: #7fe5ff;
}

.node--news-video--newsgrid .player {
  padding-bottom: 73.35%;
}

.dynamic-news-para .node--news-video--newsgrid h3 > a {
  display: block;
  margin: 0.8em 0 0.5em 0;
  padding: 0;
  color: #262729;
  font-weight: 500;
}

/* President's Page News Grid */

.view-specialty-events .node--news-video--newsgrid h3 > a {
  display: block;
  margin: 0.8em 0 0.5em 0;
  padding: 0;
  color: #262729;
  font-weight: 500;
}

@media only screen and (min-width: 600px) {
  .news-cards-grid ul.views-view-grid li {
    flex: 0 1 45%;
  }
}
@media only screen and (min-width: 768px) {
  .top-story .view-content .node-news-feature {
    flex-wrap: nowrap;
  }

  .top-story img {
    max-height: 100%;
    margin-right: 1.5em;
    padding: 0;
  }

  .event-card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-wrap: nowrap;
    -webkit-align-items: stretch;
    align-items: stretch;
  }

  .event-card .event-date {
    flex: 0 0 60px;
    width: 5.5em;
    min-width: 5.5em;
    margin: 0 0.5em 0 0;
    padding: 0.2em;
    color: #fff;
    background: #135f84;
  }

  .para-grid.mini-right .event-card {
    display: block;
  }

  .para-grid.mini-right .event-date {
    flex: 0;
    width: auto;
    padding: 0;
    text-align: left;
    background-color: transparent;
  }

  .front .para-grid.mini-right > .content > .entity:first-child {
    flex: 1 0 75%;
  }

  .front .para-grid.mini-right > .content > .entity:last-child {
    flex: 1 0 25%;
  }

  .node-news-feature .feature-image-link {
    flex: 0 1 50%;
    max-width: 100%;
  }

  .news-title-cutline {
    flex: 0 1 50%;
    padding: 1em;
  }

  .news-cards-grid ul.cols-4 li {
    -webkit-box-flex: 0 33.6%;
    -moz-box-flex: 0 33.6%;
    -webkit-flex: 0 33.6%;
    -ms-flex: 0 33.6%;
    flex: 0 1 33.6%;
  }
}
@media only screen and (min-width: 900px) {
  .node-news-feature .feature-image-link {
    float: left;
    max-width: 50%;
  }
}
@media only screen and (min-width: 1180px) {
  .news-cards-grid ul.cols-4 li {
    -webkit-box-flex: 0 23.6%;
    -moz-box-flex: 0 23.6%;
    -webkit-flex: 0 23.6%;
    -ms-flex: 0 23.6%;
    flex: 0 1 23.6%;
  }
}

/* Condensed events list */

.event-card-condensed .view-content {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.event-card-condensed .upcoming-events-list .event-card {
  display: flex;
  flex-flow: row wrap;
}

.event-card-condensed .upcoming-events-list .event-card .event-date {
  display: flex;
  flex: 0 1 18%;
  flex-flow: row;
  margin: 0;
  text-align: left;
  border: none;
  border-right: 2px solid #135f84;
  background: transparent;
}

.event-card-condensed .event-card > a {
  flex: 0 1 65%;
  margin-bottom: 0.5em;
  -webkit-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  transition: background 0.2s ease;
  color: #262729;
  border: none;
  border-bottom: 2px solid transparent;
  font-size: 0.9rem;
}

.event-card-condensed .event-info-nolink {
  flex: 0 1 65%;
  margin-left: 1em;
}

.event-card-condensed .event-info h3 {
  font-size: 1.15em;
}

.event-card-condensed .upcoming-events-list .event-card .event-date .date-display-range,
.event-card-condensed .upcoming-events-list .event-card .event-date .date-display-single {
  flex-direction: column;
}

.event-card-condensed .upcoming-events-list .event-card .event-date .date-display-range {
  font-size: 14px;
}

.event-card-condensed .upcoming-events-list .event-card .event-date .date-display-range .date-display-start,
.event-card-condensed .upcoming-events-list .event-card .event-date .date-display-range .date-display-end,
.event-card-condensed .upcoming-events-list .event-card .event-date .date-display-single .day {
  margin-bottom: -4px;
  margin-left: 0;
  font-size: 16px;
}

.event-card-condensed .event-card > a:focus,
.event-card-condensed .event-card > a:hover {
  border-bottom: 2px solid #262729;
  background: #7fe5ff;
}

.event-card-condensed .upcoming-events-list .event-card .event-date span {
  display: flex;
  padding: 0;
  text-align: left;
  color: #135f84;
  background: transparent;
  font-size: 1em;
  font-weight: bold;
}

.event-card-condensed .upcoming-events-list .event-card .event-date span .day,
.event-card-condensed .upcoming-events-list .event-card .event-date span .date-display-start,
.event-card-condensed .upcoming-events-list .event-card .event-date span .date-display-end {
  margin-left: 0.5em;
}

.event-card-condensed .upcoming-events-list .event-card .event-date .date-display-single .day {
  margin-right: 0.5em;
  font-size: 1rem;
}

@media only screen and (min-width: 320px) {
  .event-card-condensed .upcoming-events-list .event-card {
    flex: 0 1 100%;
  }

  .event-card-condensed .event-card > a {
    display: flex;
    flex: 0 1 50%;
    margin-left: 1em;
  }

  .event-card-condensed .upcoming-events-list .event-card .event-date span .date-display-end {
    margin-left: 0;
  }
}
@media only screen and (min-width: 768px) {
  .event-card-condensed .event-card > a {
    display: flex;
    flex: 0 1 75%;
    flex-flow: row;
    margin-left: 1em;
  }
}

@media only screen and (min-width: 1000px) {
  .event-card-condensed .upcoming-events-list .event-card .event-date .date-display-range,
  .event-card-condensed .upcoming-events-list .event-card .event-date .date-display-single {
    flex-direction: row;
    font-size: 1em;
  }

  .event-card-condensed .upcoming-events-list .event-card .event-date .date-display-range .date-display-start {
    margin: 0 0.5em 0 0;
  }

  .event-card-condensed .upcoming-events-list .event-card .event-date .date-display-range .date-display-end {
    margin: 0 0 0 0.5em;
  }

  .event-card-condensed .upcoming-events-list .event-card .event-date .date-display-single .day {
    margin-left: 0.5em;
  }
}
