/**
* @file
* Styling for content and views specific to HFC Admissions.
*/

.para-nested-tab-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid #ccc;
}

.para-nested-tab-options {
  flex: 0 1 100%;
}

.paragraphs-item-para-nested-tab {
  z-index: -1;
  display: none;
  flex: 0 1 100%;
}

.paragraphs-item-para-nested-tab.active {
  z-index: 1;
  display: block;
  padding: 0.5em;
}

.para-nested-tab-options a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 1em;
  white-space: pre-line;
  border-bottom: none;
}

.para-nested-tab-options a.active {
  color: #fff;
  background-color: #002d5b;
}

.para-nested-tab-options ul {
  margin: 0;
  list-style-type: none;
}

.para-nested-tab-options ul li {
  margin: 0;
  border: 1px solid #ccc;
}

/* Hide open/close all buttons */

.para-nested-tab-wrapper .collapsible-buttons {
  display: none;
}
@media only screen and (min-width: 600px) {
  .para-nested-tab-options {
    flex: 0 1 30%;
  }

  .paragraphs-item-para-nested-tab {
    flex: 1;
  }

  .paragraphs-item-para-nested-tab.active {
    z-index: 1;
    display: block;
    padding: 2em;
  }
}

/* Horizontal Nested Tab Options (all have .horiz-nested-nav applied) */

.horiz-nested-nav .para-nested-tab-options ul li {
  position: relative;
  margin: 1em;
  text-align: center;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  border: 1px solid transparent;
  font-family: "Work Sans", sans-serif;
  font-size: 1.2em;
  font-weight: 500;
}

.horiz-nested-nav .para-nested-tab-options ul li a {
  border: 1px solid #ccc;
}

.horiz-nested-nav .para-nested-tab-options ul li a.active {
  border: 1px solid #002d5b;
}

.horiz-nested-nav .para-nested-tab-options ul li::before {
  position: absolute;
  display: inline;
  height: 100%;
  content: "";
  border-left: 5px solid #002d5b;
}

.horiz-nested-nav .para-nested-tab-options ul li.active {
  border: 1px solid #002d5b;
}

.horiz-nested-nav .para-nested-tab-options ul li a:hover,
.horiz-nested-nav .para-nested-tab-options ul li a:focus {
  color: #262729;
  border: 1px solid #002d5b;
  background-color: #ccc;
}
@media only screen and (min-width: 600px) {
  .horiz-nested-nav .para-nested-tab-wrapper {
    flex-flow: row wrap;
  }

  .horiz-nested-nav .para-nested-tab-options {
    flex: 0 1 100%;
  }

  .horiz-nested-nav .para-nested-tab-options ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .horiz-nested-nav .para-nested-tab-options a {
    padding: 0.5em 0;
  }

  .horiz-nested-nav .para-nested-tab-options ul li {
    flex: 0 1 48.5%;
    margin: 2em 0.1em 0 0.1em;
  }
}
