/* Program Header */

.hfc-program-header {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-wrap: wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
  margin-bottom: 1em;
  list-style: none;
  list-style-image: none;
}

.hfc-program-desc {
  display: flex;
  flex: 0 1 100%;
  flex-wrap: wrap;
  /* justify-content: center; */
  align-items: center;
  padding: 1em;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
}

.hfc-program-header h1 {
  margin: auto;
  font-size: calc(16px + 1.5vw);
}

.hfc-program-header p {
  margin: 0;
}

.hfc-program-header .field-name-field-external-video {
  flex: 0 1 100%;
  align-self: center;
  margin: 1em auto;
}

.field.field-name-field-contact-person.field-type-link-field.field-label-hidden {
  flex: 0 1 30%;
  white-space: nowrap;
}

/* For explore_all_programs view. Needs work if used in final version. */
.field-explore-metamajor {
  margin: 0 0 2px;
  padding: 0.5em;
  background-color: #89c489;
}

@media only screen and (min-width: 800px) {
  .hfc-program-desc {
    flex: 0 1 45%;
    width: 45%;
    padding: 2em;
  }

  .hfc-program-header .field-name-field-external-video {
    flex: 0 1 50%;
  }
}

@media only screen and (min-width: 1200px) {
  .hfc-program-desc {
    flex: 0 1 30%;
    width: 40%;
    padding: 2em;
  }

  .hfc-program-header .field-name-field-external-video {
    flex: 0 1 45%;
  }
}

/* Catalog Programs */

.paragraphs-item-catalog-programs .content {
  border: 1px solid #ccc;
}

.paragraphs-item-catalog-programs.highlight-header > div {
  padding: 0.5em;
}

.field-name-field-catalog-programs .field-label {
  margin: auto 1em;
}

.field-name-field-catalog-programs .field-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.field-name-field-catalog-programs .field-item {
  flex: 0 1 100%;
  margin: 0.5em;
}

@media only screen and (min-width: 800px) {
  .field-name-field-catalog-programs .field-item {
    flex: 0 1 30%;
  }
}

.field-name-field-catalog-programs .field-item h4 {
  margin: 0;
  font-size: 1em;
}

.field-name-field-catalog-programs .field-item a {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0.5em;
  text-align: center;
  color: #fff;
  border: 2px solid transparent;
  border-bottom: none;
  background-color: #002d5b;
  font-size: 1em;
}

@media only screen and (min-width: 800px) {
  .field-name-field-catalog-programs .field-item a {
    padding: 0.75em 1em;
  }
}

.field-name-field-catalog-programs .field-item a:hover {
  color: #002d5b;
  border: 2px solid #002d5b;
  background-color: #fff;
}

/* Photo with Text */

.program-photo-text .hfc-show-content .content:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.program-photo-text img {
  display: none;
}

.program-photo-text img:after {
  position: absolute;
  top: 25%;
  right: 0;
  width: 3px;
  height: 50%;
  content: "";
  background-color: #0054a6;
}

.program-photo-text .hfc-show-content .field-name-field-para-long-text:before {
  position: absolute;
  top: 10%;
  left: -3%;
  width: 3px;
  height: 80%;
  padding-right: -1em;
  content: "";
  /* bottom: 0; */
  background-color: #0054a6;
}

.program-photo-text .hfc-show-content .field-name-field-para-long-text {
  position: relative;
  flex: 0 1 100%;
  margin: auto 1em;
  padding: 1em;
}

.program-photo-text > .content > .paragraphs-item-collapsible-paragraphs > .content > .collapsible-title > h2:first-child,
.program-photo-text > .content > .paragraphs-item-collapsible-paragraphs > .content > .collapsible-title > h2 {
  margin: 0.5em auto;
  font-size: 1.2em;
}

.program-photo-text .expand-plus,
.program-photo-text .collapse-minus {
  background-position-y: center;
}

.program-photo-text .hfc-show-content .field-name-field-para-long-text ul {
  margin-bottom: 0;
  list-style-type: square;
}

@media only screen and (min-width: 400px) {
  .program-photo-text img {
    display: block;
    padding-right: 1.5em;
  }

  .program-photo-text .field-name-field-para-photos.field-type-image {
    flex: 0 1 30%;
  }

  .program-photo-text .hfc-show-content .field-name-field-para-long-text {
    flex: 0 1 70%;
  }

  .program-photo-text > .content > .paragraphs-item-collapsible-paragraphs > .content > .collapsible-title > h2:first-child,
  .program-photo-text > .content > .paragraphs-item-collapsible-paragraphs > .content > .collapsible-title > h2 {
    font-size: 1.5em;
  }
}

/* .program-photo-text .hfc-show-content .field-name-field-para-long-text p {
    margin: 0;
} */

/* Program CTA Buttons */

.program-interest-links {
  display: flex;
  flex-wrap: wrap;
  /* margin: auto; */
  align-items: center;
  justify-content: center;
  width: 100%;
}

.program-interest-links a.program-contact-link,
.program-interest-links a.program-resource-link,
.program-interest-links a.program-apply-link {
  display: block;
  /* align-self: center; */
  /* height: 100%; */
  flex: 1 0 100%;
  margin: 0.4em 0.4em 0.4em 0;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border: 2px solid #fff;
  font-weight: 600;
}

.program-interest-links a.program-contact-link {
  background-color: #135f84;
}

.program-interest-links a.program-resource-link {
  background-color: #575759;
}

.program-interest-links a.program-apply-link {
  background-color: #0054a6;
}

.program-interest-links a.program-contact-link:hover,
.program-interest-links a.program-contact-link:focus {
  color: #135f84;
  border: 2px solid #135f84;
  background-color: #fff;
}

.program-interest-links a.program-resource-link:hover,
.program-interest-links a.program-resource-link:focus {
  color: #575759;
  border: 2px solid #575759;
  background-color: #fff;
}

.program-interest-links a.program-apply-link:hover,
.program-interest-links a.program-apply-link:focus {
  color: #0054a6;
  border: 2px solid #0054a6;
  background-color: #fff;
}

/* Student Testimonials */

.program-student-testimonials h2,
.program-student-testimonials h3 {
  margin: 0;
}

.quote .slider {
  background-image: url("/sites/all/themes/futuredriven/images/quote.png");
  background-repeat: no-repeat;
  background-position-x: 6%;
  background-position-y: center;
}
